@{
    ViewData["Title"] = "CheckIn CheckOut Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CheckIn-CheckOut Module</h1>
    <div class="row justify-content-around">
        <div>
            <a class="btn btn-primary" href="~/checkinout/index">CheckIn Item</a>
        </div>
        <div>
            <a class="btn btn-primary" href="~/checkinout/index">CheckOut Item</a>
        </div>
        <div>
            <a class="btn btn-primary" href="~/checkinout/index">CheckOut Items by Structure</a>
        </div>
        <div>
            <p class="btn btn-secondary" href="~/checkinout/index">CheckIn CheckOut History Lists</p>
        </div>
    </div>
</div>
