@{
    ViewData["Title"] = "CheckIn CheckOut";
}
<div class="container">
    <div class="text-center">

        <div class="row justify-content-center p-3">
            @Html.ActionLink("Wyewidencjonowanie / Pobranie przedmiotu", "ItemsCheckOutList", null, null, new { @class = "btn btn-primary" })
        </div>

        <div class="row justify-content-center p-3">
            @Html.ActionLink("Pobranie kolekcji przedmiotów na podstawie struktury", "StructuresList", null, null, new { @class = "btn btn-primary" })
        </div>

        <div class="row justify-content-center p-3">
            @Html.ActionLink("Zaewidencjonowanie / wprowadzenie przedmiotu", "ItemsCheckInList", null, null, new { @class = "btn btn-secondary" })
        </div>

    </div>
</div>