@model Warehouse.Application.ViewModels.CheckInOut.ItemsListForCheckInOutListVM

@{
    ViewData["Title"] = "Index";
}

<h3>Lista przedmiotów do pobrania - wyewidencjonowanie</h3>


<div class="container">
    <form asp-action="ItemsCheckOutList" asp-controller="CheckInOut" method="post">
        <div class="row align-items-center p-3">
            <input class="col-4 m-1 form-control" type="text" asp-for="SearchString" name="searchString" />
            <input class="col-2 m-1 btn btn-primary" type="submit" value="Szukaj" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Ilość
            </th>
            <th>
                Ilość do zaewidencjonowania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            @Html.Partial("ItemCheckOutPartial", item)
        }
    </tbody>
</table>
<div class="row">
    <div page-model="@Model.PaggingInfo" page-action="ItemsList"></div>
</div>