@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="m-4 text-center">Adinistrator Page</h4>
    <hr />
    <div class="container">
        <div class="row justify-content-start">

            <div class="col-sm-4 btn btn-outline-dark mb-4 p-4" style="min-height:70px">
                <a class="align-self-center" href="~/admin/users">Users</a>
            </div>
            <div class="col-sm-8 justify-content-start mb-2 pl-4 p-2">
                <p class="text-left">Opis</p>
            </div>


            <div class="col-sm-4 btn btn-outline-dark mb-4 p-4" style="min-height:70px">
                <a class="align-middle" href="~/admin/roles">Roles</a>
            </div>
            <div class="col-sm-8 justify-content-start mb-2 pl-4 p-2">
                <p class="text-left">Opis</p>
            </div>

        </div>
    </div>
</div>
