@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row justify-content-around">
        <div>
            <a class="btn btn-primary" href="~/item/itemslist">Items List</a>
        </div>
        <div>
            <a class="btn btn-primary" href="~/supplier/supplierslist">Suppliers List</a>
        </div>
        <div>
            <a class="btn btn-primary" href="~/structure/structureslist">Structures List</a>
        </div>
        <div>
            <a class="btn btn-primary" href="~/checkinout/index">Check In-Out</a>
        </div>
    </div>
</div>
