@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row justify-content-around">
        <div>
            <a class="btn btn-primary" href="~/item/itemslist">Items List</a>
            <p class="col">CRUD for Item</p>
        </div>
        <div>
            <a class="btn btn-primary" href="~/supplier/supplierslist">Suppliers List</a>
            <p class="col">CRUD for Supplier</p>
        </div>
        <div>
            <a class="btn btn-primary" href="~/structure/structureslist">Structures List</a>
            <p class="col">CRUD for Structure</p>
        </div>
        <div>
            <a class="btn btn-secondary" href="~/checkinout/index">Check In-Out</a>
            <p class="col">Items checkIn</p>
            <p class="col">Items checkOut</p>
            <p class="col">Items checkOut by Structure</p>
        </div>
    </div>
</div>
