@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="m-4 text-center">Magazyn produkcji Maturi</h2>
    <hr />
    <div class="container">
        <div class="row justify-content-start">

            <div class="col-sm-4 btn btn-outline-dark mb-4 p-4" style="min-height:70px">
                <a class="align-self-center" href="~/item/itemslist">Lista Przedmiotów.</a>
            </div>
            <div class="col-sm-8 justify-content-start mb-2 pl-4 p-2">
                <p class="text-left">Opis</p>
            </div>


            <div class="col-sm-4 btn btn-outline-dark mb-4 p-4" style="min-height:70px">
                <a class="align-middle" href="~/supplier/supplierslist">Lista dostawców.</a>
            </div>
            <div class="col-sm-8 justify-content-start mb-2 pl-4 p-2">
                <p class="text-left">Opis</p>
            </div>

            <div class="col-sm-4 btn btn-outline-dark mb-4 p-4" style="min-height:70px">
                <a class="" href="~/structure/structureslist">Struktury (listy przedmiotów dla podzespołów).</a>
            </div>
            <div class="col-sm-8 justify-content-start mb-2 pl-4 p-2">
                <p class="text-left">Opis</p>
            </div>

            <div class="col-sm-4 btn btn-outline-dark mb-4 p-4" style="min-height:70px">
                <a class="" href="~/checkinout/index">Ewidencjonowanie pobrań i przyjęć.</a>
            </div>
            <div class="col-sm-8 justify-content-start mb-2 pl-4 p-2">
                <p class="text-left">Opis</p>
            </div>

            <div class="col-sm-4 btn btn-outline-dark mb-4 p-4" style="min-height:70px">
                <a class="" href="~/reservation/index">Rezerwacje przedmiotów (składanie zapotrzebowania).</a>
            </div>
            <div class="col-sm-8 justify-content-start mb-2 pl-4 p-2">
                <p class="text-left">Opis</p>
            </div>

        </div>
    </div>
</div>
