@model Warehouse.Application.ViewModels.Item.EditItemVM

@{
    ViewData["Title"] = "Dodawanie przedmiotu";
}

<h1>Dodaj przedmiot</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Nazwa:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Opis:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ilość niska poniżej wartości:</label>
                <input asp-for="LowQuantityValue" class="form-control" />
                <span asp-validation-for="LowQuantityValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ilość:</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label class="control-label">Dodaj ilustrację, zdjęcie:</label><br />
                    <span class="text-danger">@Html.ValidationMessage("File")</span>
                    <input asp-for="ImageFormFile" class="" accept="image/jpg"/><br />
                    <small>Plik w formacie .jpg mniejszy niż 5MB.</small>
                    <span asp-validation-for="ImageFormFile" class="text-danger"></span>
                </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="ItemsList">Wróć do listy przedmiotów (bez zapisania)</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
