@model Warehouse.Application.ViewModels.Item.EditItemVM

@{
    ViewData["Title"] = "AddItem";
}

<h1>AddItem</h1>

<h4>NewItemVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowQuantityValue" class="control-label"></label>
                <input asp-for="LowQuantityValue" class="form-control" />
                <span asp-validation-for="LowQuantityValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="ImageFormFile" class="control-label"></label>
                    <input asp-for="ImageFormFile" class="form-control" />
                    <span asp-validation-for="ImageFormFile" class="text-danger"></span>
                </div>

            @*<div class="form-group">
                    <div class="col-4 custom-file">
                        <input class="custom-file-input" name="Image" type="file" />
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    </div>
                    <div class="col-2">
                        <input class="btn btn-primary" type="submit" value="Upload" />
                    </div>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ItemsList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
